* {
	background-color: #f1faee;
	color: #1d3557;
	font-family: Helvetica, sans-serif;
	/* border: 2px red solid; */
}

body {
	text-align: center;
}

.header {
	color: #e63946;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.list {
	display: inline-block;
	text-align: left;
}

#steps {
	display: block;
	padding: 0 5rem;
}
