* {
	background-color: #f1faee;
	color: #1d3557;
	font-family: Helvetica, sans-serif;
}

body {
	text-align: center;
}

.header {
	color: #e63946;
}

.list {
	display: inline-block;
	text-align: left;
}
